<form>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="email">Email</label>
      <input type="email" id="email" class="form-control" />
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="password">Password</label>
      <input type="password" id="password" class="form-control" />
    </div>
  
    
  
    <!-- Submit button -->
    <button type="button" id="login-btn" class="btn btn-primary mb-4">Sign in</button>
  
  </form>