form{
    max-width: 70%;
    margin: 0 auto;
}
.form-title{
    margin-bottom: 2rem;
}
.form-group{
    margin-bottom: 2rem;
}
.actions{
    text-align: center;
}
.actions > a, .actions>button{
    margin: 0 2rem;
    width: 8rem;
}